# ----------------------------
# Build output
# ----------------------------
bin/
obj/
publish/

# ----------------------------
# Visual Studio
# ----------------------------
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ----------------------------
# NuGet
# ----------------------------
packages/
*.nupkg
project.lock.json
*.snk     # strong name keys (optional)

# ----------------------------
# Logs & Cache
# ----------------------------
*.log
*.tmp
*.temp

# ----------------------------
# Rider / ReSharper
# ----------------------------
_ReSharper*/
*.DotSettings.user

# ----------------------------
# Other
# ----------------------------
*.jfm
*.dbmdl   # (sql developer db model — optional to keep ignored)

